<p id="notice"><%= notice %></p>

<h1>Properties</h1>

<table>
  <thead>
    <tr>
      <th>Address</th>
      <th>Description</th>
      <th>Price</th>
      <th>Beds</th>
      <th>Baths</th>
      <th>Pets</th>
      <th>Furnished</th>
      <th>Utilities</th>
      <th>Parking</th>
      <th>Availability</th>
      <th>Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @properties.each do |property| %>
      <tr>
        <td><%= property.address %></td>
        <td><%= property.description %></td>
        <td><%= property.price %></td>
        <td><%= property.beds %></td>
        <td><%= property.baths %></td>
        <td><%= property.pets %></td>
        <td><%= property.furnished %></td>
        <td><%= property.utilities %></td>
        <td><%= property.parking %></td>
        <td><%= property.availability %></td>
        <td><%= property.type %></td>
        <td><%= link_to 'Show', property %></td>
        <td><%= link_to 'Edit', edit_property_path(property) %></td>
        <td><%= link_to 'Destroy', property, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Property', new_property_path %>
