<p id="notice"><%= notice %></p>

<p>
  <h1><strong>Username:</strong></h1><br><br>
  <%= @user.username %>
</p>

<p>
  <strong>First Name:</strong>
  <%= @user.firstname %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @user.lastname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>


<h1>Listed Properties </h1>
  <% if @owned_properties.count !=0 %>
    <% @owned_properties.each do |property| %>
    <ul>
      <li><%= property.address =%>, $<%= property.price =%></li>

    <% end %>

        <% else %>
          <h2>You gotz no owned properties yo!</h2>

  <% end %>

    </ul>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
